<h1>Player 1's Move</h1>
<div class="jumbotron">
  <form action="/player2">
    <div class="form-group">
      <select class="form-control" name="player1" id="player1">
        <option>rock</option>
        <option>paper</option>
        <option>scissors</option>
      </select>
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
</div>
