<h1>Player 2's Move</h1>
<div class="jumbotron">
  <form action="/results">
    <div class="form-group">
      <select class="form-control" name="player2" id="player2">
        <option>rock</option>
        <option>paper</option>
        <option>scissors</option>
      </select>
    </div>
    <button type="submit" class="btn-success">Show</button>
  </form>
</div>
