<h1>Find your palindrome</h1>
<form action="/phrase">
  <div class="form-group">
    <label for="phrase">Enter your phrase here</label>
    <input type="text" name="phrase" class="" id="phrase">
  </div>
  <button type="submit" class="btn-danger">Send</button>
</form>
