<h1>Find Your Scrabble Score</h1>
<form action="/score">
  <div class="form-group">
    <label for="word">Enter your word here:</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
